/* All common Css File Start */
*{
    margin: ;
    padding: ;
}
/* All common Css File end */

.one{
    
    background: url(../images/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.two{
    padding: 300PX ;
    background: rgba(0, 0, 0, 0.26);
}
h1{
   text-align: center;
   color: whitesmoke;
   font-style: italic;
}

